.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 140px;
}

.title {
  margin-bottom: 18px;
  text-align: center;
  font-weight: bold;
}

.titles {
  align-self: center;
  width: 360px;
  padding: 40px;
  background-color: lightblue;
}

.statistic {
  font-size: medium;
  text-align: center;
}